@media (max-width: 968px) {
    .contentToHideAtSmall {
        display: none;
    }
}
.tableCell {
    margin: 3px;
}
.updateStatuses{
 padding:6px 12px 6px 12px!important;
}
.checkStatuses {
    display: flex;
}

.tableRow {
    margin-top: 4px;
}
.filesLink {
    padding: 0px;
    margin: 0px;
    display: block;
}
.radioBtns {
    display: flex;
}
.menu {
    position: sticky;
    top: 120px;
    float: right;
    z-index: 100;
    border-radius: 10px;
}
.addObject{
    border:1px solid gray;
    padding-top:10px;
    padding-bottom:10px;
    margin:1px;
    border-radius:6px;
    margin-bottom:4px;
}
.delObj, .delPrice, .delOwner {
    cursor: pointer;
    color: red;
}
.priceBox {
    border: 1px solid gray;
    padding:8px;
    border-radius:3px;
}
.deleteFile{
    color:red;
    cursor:pointer;
    text-align:right;
}
#partsPrice {
    overflow: scroll;
    border-collapse: separate;
    border-spacing: 10px 5px;
    background-color: whitesmoke;
    color:black!important;
}
.appointment, .partPrice {
    color: black !important;
}
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#add {
    color: green;
    font-size: 1.3em;
    vertical-align: middle;
}

.addOrder {
    vertical-align: middle;
    padding: 4px;
    border: 1px solid gray;
    border-radius: 3px;
}

.colorId_1, .colorId_2, .colorId_3 {
    background-color: #99A3A4;
}

.colorId_4, .colorId_5, .colorId_6, .colorId_7 {
    background-color: #e8b529;
}

.colorId_8 {
    background-color: #90EE90;
}
.colorId_9 {
    background-color: #566573;
}
.colorId_10 {
    background-color: #FF6347;
}
.Order:hover{
    transform:translateX(4px);
    
}
.files{
    padding:10px;
    margin:5px;
}
.file{
    background-color:lightgrey;
    margin-top:3px;
    text-decoration:underline;
  
}
.file a {
        color: blue;
}