.container {
    padding-top: 5px;
}
.user, .counterparty {
    border: 1px solid gray;
    padding: 6px;
    margin-top: 3px;

    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}
.user:hover, .counterparty:hover{
    background-color: lightslategray;
    color: white;
}